<div md-colors="{background: 'green'}"
     class="home-wrapper"
     layout="row"
     layout-align="center">
    <div class="home-container"
         layout="row">
        
        <div flex="60"
             layout="column"
             layout-align="center center">
            <h1>Simple. Fast. Minimalist. Free.</h1>
            <h4>You are just a few clicks away from your schedule!</h4>
        </div>
        
        <div flex="40"
             layout="column"
             layout-align="center center">
            
            <div class="home-jumbo-button"
                 md-whiteframe="10"
                 ui-sref="weekly-scheduler"
                 ui-sref-active="active">
                <b md-colors="{color: 'grey-500'}"
                   class="md-title">Create your schedule!</b>
            </div>
            
        </div>
    </div>
</div>

<div layout="row"
     layout-align="center">
    
    <div class="home-container home-details-container"
         layout="row"
         layout-padding>
        
        <div flex="33"
             layout="column"
             layout-align="center center">
            <i class="material-icons home-icon"
               md-colors="{color: 'green'}">event</i>
            <p style="text-align: center;">
                Create an event itinerary right away
            </p>
        </div>
        
        <md-divider class="home-divider"></md-divider>
        
        <div flex="33"
             layout="column"
             layout-align="center center">
            <i class="material-icons home-icon"
               md-colors="{color: 'green'}">schedule</i>
            <p style="text-align: center;">
                Create a course schedule
            </p>
        </div>
        
        <md-divider class="home-divider"></md-divider>
        
        <div flex="33"
             layout="column"
             layout-align="center center">
            <i class="material-icons home-icon"
               md-colors="{color: 'green'}">assignment</i>
            <p style="text-align: center;">
                Manage your team deadlines
            </p>
        </div>
        
    </div>
    
</div>

<div layout="row"
     layout-align="center"
     md-colors="{background: 'grey-300'}">
    
    <div class="home-container home-details-container">
        
    </div>
</div>