<md-content layout="row" flex layout-fill ng-mouseup="endResize()">

    <md-sidenav flex="25" md-is-locked-open="true" layout="column">
        <md-content flex md-colors="{background: 'grey-50'}">
            <div layout="column">
                <mf-task-drop-down></mf-task-drop-down>
                <mf-settings-drop-down></mf-settings-drop-down>
                <mf-export-drop-down></mf-export-drop-down>
            </div>

        </md-content>
    </md-sidenav>

    <md-divider md-colors="{color: 'blue'}"></md-divider>

    <md-content flex="100" layout="column" layout-align="none center" layout-padding>
        <mf-weekly-scheduler></mf-weekly-scheduler>
    </md-content>

</md-content>
