<md-toolbar md-colors="{background: 'green'}">
    <div class="md-toolbar-tools">
        <a ui-sref="home" ui-sref-active="active" class="md-subheader nav">HOME</a>

        <a ui-sref="home" ui-sref-active="active" class="md-subheader nav">FEATURES</a>

        <a ui-sref="home" ui-sref-active="active" class="md-subheader nav">EXAMPLES</a>

        <a ui-sref="home" ui-sref-active="active" class="md-subheader nav">HOW TO</a>

        <span flex></span>

        <div class="bordered-button md-subheader">
            Create Schedule
        </div>
    </div>
</md-toolbar>
