<div class="sidenav-subheader" layout="row" layout-align="center center" ng-init="isSettingsCollapsed = false" ng-click="isSettingsCollapsed = !isSettingsCollapsed">
    <md-icon class="sidenav-subheader-icon">settings</md-icon>
    SETTINGS
    <span flex></span>
    <md-icon class="sidenav-dropdown-icon" ng-class="{'sidenav-dropdown-icon-active' : !isSettingsCollapsed }">keyboard_arrow_down</md-icon>
</div>

<md-divider></md-divider>

<div ng-class="{'sidenav-sub-item-hidden' : !isSettingsCollapsed}">
    <div class="sidenav-sub-item
                sidenav-sub-item-content" layout="row" layout-align="none center">
        Start Time
        <span flex></span>

        <md-input-container class="md-block
                                no-padding-input
                                no-margin-input
                                solid-select-item">
            <md-select ng-model="selectedStartHour" class="md-no-underline" ng-change="fetchHoursInterval(selectedStartHour, selectedEndHour, selectedInterval)">
                <md-option ng-repeat="hour in hoursList" ng-value="hour.value">
                    {{hour.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="sidenav-sub-item
                sidenav-sub-item-content" layout="row" layout-align="none center">
        End Time
        <span flex></span>

        <md-input-container class="md-block
                                no-padding-input
                                no-margin-input
                                solid-select-item">
            <md-select ng-model="selectedEndHour" class="md-no-underline" ng-change="fetchHoursInterval(selectedStartHour, selectedEndHour, selectedInterval)">
                <md-option ng-repeat="hour in hoursList" ng-value="hour.value">
                    {{hour.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="sidenav-sub-item
                sidenav-sub-item-content" layout="row" layout-align="none center">
        Interval
        <span flex></span>

        <md-input-container class="md-block
                                no-padding-input
                                no-margin-input
                                solid-select-item">
            <md-select ng-model="selectedInterval" class="md-no-underline" ng-change="fetchHoursInterval(selectedStartHour, selectedEndHour, selectedInterval)">
                <md-option ng-repeat="interval in intervalsList" ng-value="interval.value">
                    {{interval.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
