<div class="sidenav-subheader" layout="row" layout-align="center center" ng-click="turnOn('task')">
    <md-icon class="sidenav-subheader-icon">note</md-icon>
    TASK
    <span flex></span>
    <md-icon class="sidenav-dropdown-icon" ng-class="{'sidenav-dropdown-icon-active' : !isTaskOn }">keyboard_arrow_down</md-icon>
</div>

<md-divider></md-divider>

<div ng-class="{'sidenav-sub-item-hidden' : !isTaskOn }">
    <div class="sidenav-sub-item" ng-repeat="task in taskList">
        <div class="sidenav-sub-item-content" layout="row" layout-align="center center">
            <div flex="10" layout="row" layout-align="center">
                <md-icon>
                    {{task.type.icon}}
                </md-icon>
            </div>
            <div layout="column" flex="95" class="sidenav-sub-item-content">
                <div>{{task.name}}</div>
                <div class="md-body-1">{{task.description}}</div>
            </div>
        </div>
    </div>
    <div layout="row" class="sidenav-button" layout-align="center center" ng-click="showNewTask($event)">

        <md-tooltip md-direction="right">
            Create new task
        </md-tooltip>

        <span>New Task</span>
        <i class="material-icons">add</i>
    </div>
</div>
